alias dotfiles='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'

alias ez='nano ~/.aliases && source ~/.bash_profile'
alias musicprep='python3 $SRCDIR/utils/music-prep.py'
alias cleanup='python3 $SRCDIR/utils/cleanup.py'
alias handphone-encode='python3 $SRCDIR/utils/handphone-encode.py'
alias ee='python3 $SRCDIR/utils/emailexists.py'
alias video='python3 $SRCDIR/utils/video.py'

alias ii='ipython -i'
alias coins='cd $SRCDIR/cryptotraining && workon coins'
alias rankshaper='cd $SRCDIR/rankshaper && workon rankshaper'

alias mkmig='./manage.py makemigrations && ./manage.py migrate'
alias rmmigrations='rm pr9seotool/apps/website/migrations/0*.py'

alias dockerclean='docker rm $(docker ps -a -q)'

alias loadnvm='[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' # This loads nvm
