[Unit]
Description=Clean up old files in Downloads folder
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/find %h/Downloads -type f -atime +7 -delete
ExecStart=/bin/find %h/Downloads -type d -empty -delete
