[user]
	email = randomshinichi4869@gmail.com
	name = Andrew Chiw
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
